@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.banner {
    background: url("banner.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about {
    padding: 30px 0;
}

.about .title {
    font-size: 38px;
    font-weight: 700;
}

.about p {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list {
        left: 0%;
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.partner {
    background-color: #ffffff;
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 10px;
    margin: 10% auto;
    border: 1px solid gray;
    box-shadow: 10px 10px 5px 12px gray;
}

.partner .p {
    color: red;
}

.partners-box {
    background-color: white;
    border: 1px solid gray;
}

#p1 {
    border-radius: 50%;
    width: 50%;
    max-width: 200px;
    height: auto;
}

.partner .heade {
    color: red;
    text-align: center;
    text-decoration: wavy;
    font-size: 4vw;
}

@media only screen and (max-width: 768px) {
    /* CSS rules for screens smaller than 768px */
    .partner {
        margin: 5% auto;
    }
    .partner .heade {
        font-size: 3vw;
    }
    #p1 {
        width: 70%;
        max-width: none;
    }
}

@media only screen and (max-width: 480px) {
    /* CSS rules for screens smaller than 480px */
    .partner .heade {
        font-size: 2.5vw;
    }
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.banner {
    background: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/343101841_241868974997813_2121109569688714293_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=aee45a&_nc_ohc=Ms8HB8ZjepsAX_QDUWu&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSUkXs8q-O_QHQExlkQPWGZ1bicLXO296ERdqMzVnhL2g&oe=64702B18") no-repeat;
    height: 100vh;
    width: 230vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about {
    padding: 30px 0;
}

.about .title {
    font-size: 38px;
    font-weight: 700;
}

.about p {
    padding-top: 20px;
    text-align: justify;
}

#logo {
    width: 150px;
    height: 150px;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }
    .icon {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list {
        left: 0%;
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson!important;
}

.mem {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    max-width: 250px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.mem:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mem {
    padding: 2px 16px;
}

@media only screen and (max-width: 768px) {
    /* CSS rules for screens smaller than 768px */
    .mem {
        width: 45%;
        max-width: 300px;
    }
}

@media only screen and (max-width: 480px) {
    /* CSS rules for screens smaller than 480px */
    .mem {
        width: 100%;
        max-width: none;
    }
}

#payment-button {
    width: 200px;
    background-color: green;
    color: white;
}

.mem.memtext {
    font-size: larger;
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    text-align: center;
    z-index: 9999;
    display: none;
    max-width: 90%;
    font-size: 16px;
    font-weight: bold;
}


/* Style for button */

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

#ok-button,
#cancel-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#ok-button:hover,
#cancel-button:hover {
    opacity: 0.8;
}

.partners-box {
    background-color: white;
    border: 1px solid gray;
}

#p1 {
    border-radius: 50%;
    width: 50%;
    max-width: 200px;
    height: auto;
}

.trader {
    color: red;
    text-align: center;
    text-decoration: wavy;
    font-size: 4vw;
}

@media only screen and (max-width: 768px) {
    /* CSS rules for screens smaller than 768px */
    .trade {
        margin: 5% auto;
    }
    .trade .trader {
        font-size: 3vw;
    }
    #p1 {
        width: 70%;
        max-width: none;
    }
}

@media only screen and (max-width: 480px) {
    /* CSS rules for screens smaller than 480px */
    .trade .trader {
        font-size: 2.5vw;
    }
}